bin
obj
build
*.user
*.cache
*.suo
*.trx
Logs
TestResults
TestResult.xml
# This line keeps the db in check - comment it out to update the starting db
data
_ReSharper*
Index.dat
Storage.dat
packages
.cr/
.vs/

